.searchBoxDiv {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.searchBoxDiv input {
  width: 100%;
  height: 30px;
}

.searchBoxDiv label {
  font-size: 18px;
}
